.dark-mode {
  --primary-color: #a16875;
  --secondary-color: #bf98a0;
  --background-color: #bf98a0;
  --text-color: #333;
  --button-background-color: var(--primary-color);
  --button-text-color: #fff;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 80%;
  max-width: 1000px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#see-converted {
  color: #333;
}

.output img {
  width: 100%;
  height: 40vh;
}

#message-container {
  color: #321f24;
}

.message-container.show {
  display: block;
}

.input {
  margin-bottom: 20px;
}

input[type="file"] {
  display: block;
  margin-top: 10px;
}

button {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
}

label,
input {
  color: #333;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.output {
  display: flex;
  justify-content: center;
}

hr {
  width: 10px;
  color: transparent;
  border: 1px solid transparent;
}

.output-legend {
  display: flex;
  color: #321f24;
  width: 100%;
  position: absolute;
  justify-content: space-around;
  top: 76%;
}

.buttons {
  display: flex;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* altura do rodapé */
  text-align: center;
  margin-bottom: 0.5em;
}

:root {
  --primary-color: #bf98a0;
  --secondary-color: #a16875;
  --background-color: #321f24;
  --text-color: #f5f5f5;
  --button-background-color: var(--primary-color);
  --button-text-color: #f5f5f5;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#theme-toggle {
  margin: 0;
}

.navbar-logo a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  cursor: pointer;
}

.navbar-toggle span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    text-align: center;
  }

  .navbar-links li {
    margin: 1rem 0;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-toggle.active span:nth-of-type(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .navbar-toggle.active span:nth-of-type(2) {
    opacity: 0;
  }

  .navbar-toggle.active span:nth-of-type(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
}
